{% extends 'base.html' %}

{% block titulo %}Acerca de  {% endblock titulo %}

{% block contenido %}
  

  <!-- <div class="p-5 mb-4 bg-light rounded-3 Contenedor__Principal">
    <div class="container-fluid py-5 ">
      <h1 class="display-5 fw-bold text-center">Acerca de</h1>
      <p class="col fs-5">Joven de 20 años nacido en ecuador desde que tenía la edad de 10 años, me intereso el tema del desarrollo web por la curiosidad de cómo funciona web y los procesos que conlleva y tecnología que se usa donde mi primer programa que cree fue un juego con blog de nota con la ayuda de YouTube.
        Por eso decidí estudiar en el colegio Administración de sistema, pero me decepcioné mucho por el hecho que no tenía los equipos adecuada para mi aprendizaje, pero si aprendí unos temas que me ayudo adelante en mi carrera
        Cuando sucedió la pandemia como no tenía nada que hacer decidí aprende sobre el desarrollo web buscando en YouTube me encontré con un canal llamado soydalto aprendí las tecnología básica para el desarrolló web que son: HTML, CSS y JavaScript donde me quede hasta JavaScript junior
        empecé a desarrollar mis proyectos.</p>
    </div>

     <figure class="figure flex">
        {% load static %}
         <img src="{% static 'imagenes/alexander1.jpg' %}" class="figure-img img-fluid rounded" width="250" height="150">
    </figure>
 
 </div> -->

<!-- <div class="container mt-5">
     <div class="p-5 mb-4 bg-light rounded-3">
    <div class=" py-2">
      <h1 class="display-5 text-center fw-bold">Acerca de</h1>
      <p class="fs-4 lh-base lead" style="text-align: justify;">Joven de 20 años nacido en ecuador desde que tenía la edad de 10 años, me intereso el tema del desarrollo web por la curiosidad de cómo funciona web y los procesos que conlleva y tecnología que se usa donde mi primer programa que cree fue un juego con blog de nota con la ayuda de YouTube.
        Por eso decidí estudiar en el colegio Administración de sistema, pero me decepcioné mucho por el hecho que no tenía los equipos adecuada para mi aprendizaje, pero si aprendí unos temas que me ayudo adelante en mi carrera
        Cuando sucedió la pandemia como no tenía nada que hacer decidí aprende sobre el desarrollo web buscando en YouTube me encontré con un canal llamado soydalto aprendí las tecnología básica para el desarrolló web que son: HTML, CSS y JavaScript donde me quede hasta JavaScript junior
        empecé a desarrollar mis proyectos.</p>
    </div>
   </div>
</div> -->

<div class="container mt-5  ">
<div class="row g-1 bg-light   position-relative rounded-3">
  <div class="col-md-6  p-md-4">
   {% load static %}
         <img src="{% static 'imagenes/alexander1.jpg' %}" class="figure-img img-fluid rounded" width="550" height="150">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-2 display-5 text-center fw-bold mb-3">Acerca de</h5>
    <p class="fs-5 lh-base lead" style="text-align: justify;">Joven de 20 años nacido en ecuador desde que tenía la edad de 10 años, me intereso el tema del desarrollo web por la curiosidad de cómo funciona web y los procesos que conlleva y tecnología que se usa donde mi primer programa que cree fue un juego con blog de nota con la ayuda de YouTube.
        Por eso decidí estudiar en el colegio Administración de sistema, pero me decepcioné mucho por el hecho que no tenía los equipos adecuada para mi aprendizaje, pero si aprendí unos temas que me ayudo adelante en mi carrera
        Cuando sucedió la pandemia como no tenía nada que hacer decidí aprende sobre el desarrollo web buscando en YouTube me encontré con un canal llamado soydalto aprendí las tecnología básica para el desarrolló web que son: HTML, CSS y JavaScript donde me quede hasta JavaScript junior
        empecé a desarrollar mis proyectos.</p>
  </div>
</div>
</div>

<div class="container mt-4">
    <h3 class="text-center text-light fs-2">Habilidades</h3>
 <div class="container">

    <div class="row">

        <div class="col-4 col-md-3 col-12">
            <div class="container bg-light rounded-2 mt-3 mb-3 " style=" width: 160px; height: 180px; padding: 10px;">
                <i class=" fa fa-html5 " aria-hidden="true" style="font-size: 8.4rem; color: orangered; margin-left: 15px;  margin-bottom: 8px"  ></i>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                </div>
            </div>
        </div>

         <div class="col-4 col-md-3 col-12">
            <div class="container bg-light rounded-2 mt-3 mb-3 " style=" width: 160px; height: 180px; padding: 10px;">
                <i class=" fa fa-css3 " aria-hidden="true" style="font-size: 7.5rem; color: #007880; margin-left: 15px; margin-bottom: 15px;"  ></i>
                <div class="progress">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                </div>
            </div>
        </div>


        <div class="col-4 col-md-3 col-12">
            <div class="container bg-light  rounded-2  mt-3 mb-3 " style=" width: 160px; height: 180px; padding: 10px; ">
                <i class=" fa-brands fa-js " aria-hidden="true" style="font-size: 7.8rem; color: #D89216; margin-left: 18px; margin-bottom: 15px"  ></i>
                <div class="progress">
                    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
                </div>
            </div>
        </div>

         <div class="col-4 col-md-3 col-12">
            <div class="container bg-light rounded-2 mt-3 mb-3 " style=" width: 160px; height: 180px; padding: 10px;">
                <i class=" fa-brands fa-php " aria-hidden="true" style="font-size: 7rem;padding:5px; color: purple; margin-left: 1px; margin-bottom: 15px; "></i>
                <div class="progress">
                    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
                </div>
            </div>
        </div>

    </div>

</div>

</div>
{% endblock contenido %}